:{$PORT} {
    log {
        format json
        output stdout
        level DEBUG
    }
    
    # Enable request buffering to capture body
    request_body {
        max_size 10MB
    }
    
    reverse_proxy {$FORWARD_URL} {
        header_up Host {upstream_hostport} # Sets the Host header correctly
        
        # Log request details
        handle_response {
            @all status 1xx 2xx 3xx 4xx 5xx
            handle @all {
                # Continue with normal response handling
                respond @all
            }
        }
    }
}